.env
.docker
.idea
/client/node_modules
/client/logs
/client/*.log
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/pids
/client/*.pid
/client/*.seed
/client/*.pid.lock
/client/lib-cov
/client/coverage
/client/.nyc_output
/client/.grunt
/client/bower_components
/client/.lock-wscript
/client/build/Release
/client/node_modules/
/client/jspm_packages/
/client/typings/
/client/.npm
/client/.eslintcache
/client/.node_repl_history
/client/*.tgz
/client/.yarn-integrity
/client/.env
/client/.cache
/client/next
/client/.nuxt
/client/dist
/client/.vuepress/dist
/client/.serverless
/client/.idea
/client/.editorconfig
/client/sw.*
/client/.DS_Store
/client/*.swp
/server/node_modules
/server/public/hot
/server/public/storage
/server/storage/*.key
/server/vendor
/server/.env
/server/.env.backup
/server/.phpunit.result.cache
/server/Homestead.json
/server/Homestead.yaml
/server/npm-debug.log
/server/yarn-error.log